# Explore weather data

In [1]:
import netCDF4
import numpy as np
from netCDF4 import num2date, date2num, date2index

## Chargement de données

In [25]:
f = netCDF4.Dataset('./data/weather/H_ERAI_ECMW_T159_WS-_0100m_Euro_22W27N_45E72N_050d_IN_TIM_19790101_20161231_06h_NA-_wbc_org_NA_NA-.nc')
print(f)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    dimensions(sizes): longitude(135), latitude(92), time(55520)
    variables(dimensions): float64 longitude(longitude), float64 latitude(latitude), float64 time(time), float32 ws100m(time,latitude,longitude)
    groups:

In [3]:
f.variables

OrderedDict([('longitude', <class 'netCDF4._netCDF4.Variable'>
              float64 longitude(longitude)
                  units: degrees_east
                  long_name: longitude
              unlimited dimensions:
              current shape = (135,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('latitude', <class 'netCDF4._netCDF4.Variable'>
              float64 latitude(latitude)
                  units: degrees_north
                  long_name: latitude
              unlimited dimensions:
              current shape = (92,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('time', <class 'netCDF4._netCDF4.Variable'>
              float64 time(time)
                  units: hours since 1900-01-01 00:00:0.0
                  long_name: time
                  calendar: gregorian
              unlimited dimensions:
              current shape = (55520,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('ws100m', <class 'netCDF4._netCDF4.Variable'>
              float32 ws100m(time, latitude, longitude)
                  units: m/s
                  _FillValue: -9999.0
                  long_name: Wind Speed 100m
              unlimited dimensions:
              current shape = (55520, 92, 135)
              filling on)])

## Exploration de données

In [4]:
times = f.variables['time']
dates = num2date(times[:],times.units)
print('starting date = %s' % dates[0])
print('starting date = %s' % dates[1])
print('ending date = %s'% dates[-1])

starting date = 1979-01-01 00:00:00
starting date = 1979-01-01 06:00:00
ending date = 2016-12-31 18:00:00

In [5]:
f.variables["time"][0:10]

masked_array(data=[692496., 692502., 692508., 692514., 692520., 692526.,
                   692532., 692538., 692544., 692550.],
             mask=False,
       fill_value=1e+20)

In [28]:
f.variables["longitude"][:]

masked_array(data=[-21.75, -21.25, -20.75, -20.25, -19.75, -19.25, -18.75,
                   -18.25, -17.75, -17.25, -16.75, -16.25, -15.75, -15.25,
                   -14.75, -14.25, -13.75, -13.25, -12.75, -12.25, -11.75,
                   -11.25, -10.75, -10.25,  -9.75,  -9.25,  -8.75,  -8.25,
                    -7.75,  -7.25,  -6.75,  -6.25,  -5.75,  -5.25,  -4.75,
                    -4.25,  -3.75,  -3.25,  -2.75,  -2.25,  -1.75,  -1.25,
                    -0.75,  -0.25,   0.25,   0.75,   1.25,   1.75,   2.25,
                     2.75,   3.25,   3.75,   4.25,   4.75,   5.25,   5.75,
                     6.25,   6.75,   7.25,   7.75,   8.25,   8.75,   9.25,
                     9.75,  10.25,  10.75,  11.25,  11.75,  12.25,  12.75,
                    13.25,  13.75,  14.25,  14.75,  15.25,  15.75,  16.25,
                    16.75,  17.25,  17.75,  18.25,  18.75,  19.25,  19.75,
                    20.25,  20.75,  21.25,  21.75,  22.25,  22.75,  23.25,
                    23.75,  24.25,  24.75,  25.25,  25.75,  26.25,  26.75,
                    27.25,  27.75,  28.25,  28.75,  29.25,  29.75,  30.25,
                    30.75,  31.25,  31.75,  32.25,  32.75,  33.25,  33.75,
                    34.25,  34.75,  35.25,  35.75,  36.25,  36.75,  37.25,
                    37.75,  38.25,  38.75,  39.25,  39.75,  40.25,  40.75,
                    41.25,  41.75,  42.25,  42.75,  43.25,  43.75,  44.25,
                    44.75,  45.25],
             mask=False,
       fill_value=1e+20)

In [29]:
f.variables["latitude"][:]

masked_array(data=[72.25, 71.75, 71.25, 70.75, 70.25, 69.75, 69.25, 68.75,
                   68.25, 67.75, 67.25, 66.75, 66.25, 65.75, 65.25, 64.75,
                   64.25, 63.75, 63.25, 62.75, 62.25, 61.75, 61.25, 60.75,
                   60.25, 59.75, 59.25, 58.75, 58.25, 57.75, 57.25, 56.75,
                   56.25, 55.75, 55.25, 54.75, 54.25, 53.75, 53.25, 52.75,
                   52.25, 51.75, 51.25, 50.75, 50.25, 49.75, 49.25, 48.75,
                   48.25, 47.75, 47.25, 46.75, 46.25, 45.75, 45.25, 44.75,
                   44.25, 43.75, 43.25, 42.75, 42.25, 41.75, 41.25, 40.75,
                   40.25, 39.75, 39.25, 38.75, 38.25, 37.75, 37.25, 36.75,
                   36.25, 35.75, 35.25, 34.75, 34.25, 33.75, 33.25, 32.75,
                   32.25, 31.75, 31.25, 30.75, 30.25, 29.75, 29.25, 28.75,
                   28.25, 27.75, 27.25, 26.75],
             mask=False,
       fill_value=1e+20)

In [6]:
f.variables["ws100m"]

<class 'netCDF4._netCDF4.Variable'>
float32 ws100m(time, latitude, longitude)
    units: m/s
    _FillValue: -9999.0
    long_name: Wind Speed 100m
unlimited dimensions:
current shape = (55520, 92, 135)
filling on

In [36]:
f.variables["ws100m"][0:1].data[0][0][0]

-9999.0

In [38]:
f.variables["ws100m"][0:1].mask

array([[[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ..., False, False, False],
        [ True,  True,  True, ..., False, False, False],
        [ True,  True,  True, ..., False, False, False]]])